.questions-section {
    background: url('/resources/js/components/img/watching-bg.png') center / cover no-repeat;
    padding:  80px 0;
    box-sizing: border-box;
}

.question_section_wrp {
    display: flex;
}

.question_section_text {
    flex: 1;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #FFFFFF;
}

.question_section_form {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px 30px;
}

.questions_text {
    background: #D4C17F;
    border-color: #D4C17F;
    color: black;
}

.questions_bottom_text {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}

.questions_button {
    background: White;
    border-color: White;
    color: black;
}

@media (max-width:320px) {
 .question_section_wrp {
     display: block;
     padding: 0 5px;
 }

    .question_section_form {
        display: block;
    }

    .questions_button {
        width: 100%;
    }
}


@media (min-width: 321px) and (max-width: 375px) {
    .questions-section {
        padding: 50px 0 150px 5px;

    }
    .question_section_wrp,
    .question_section_form {
        display: block;
        margin-right: 5px;
    }
    .questions_section_text {
        font-size: 11px;
    }
    .questions_bottom_text,
    .questions_button {
        width: 100%;
    }
}

@media (min-width: 376px) and (max-width: 768px) {
    .question_section_wrp {
        padding: 0 10px;
    }
    .questions_title {
        padding-left: 10px;
        margin-bottom: 20px;
        font-size: 34px;
    }

}



