.reviews {
    padding: 50px 0;
}
.review-block {
    margin-bottom: 40px;
}
.review-author {
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
}
.review-block:last-child {
    margin-bottom: 0;
}
.review-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}
.img-review {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 22px;
}
.img-review2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 11px;
}
.img-review3 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: -5px;
}
.review-block {
    display: flex;
}

@media (max-width:320px) {
    .reviews {
        padding: 45px 10px;
    }
    .review-block {
        display: block;
    }
    img.img-review,
    img.img-review2,
    img.img-review3
    {
        margin-left: 23px;
    }
    .review-author {
        margin-left: 122px;
        margin-top: -66px;
    }
    .reviews_title {
        font-size: 33px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .reviews {
        padding: 50px 10px;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
}

@media (min-width: 426px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}




