.section {
    background: url('/resources/js/components/img/watching-bg.png') center / cover no-repeat;
    padding: 180px 0;
    box-sizing: border-box;
}
.section_wrp {
    padding: 0 140px;
}
.section_text {
    padding: 40px 229px;
    flex: 1;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #FFFFFF;
}
.section_form {
    padding: 18px 210px;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px 30px;
}
.input_text {
    background: #D4C17F;
    border-color: #D4C17F;
    color: black;
    margin-bottom: 10px;
}
.bottom_text {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}
.input_button {
    background: White;
    border-color: White;
    color: black;
}

@media (min-width: 426px) and (max-width: 767px) {
.section-input{
    display: flex;
    margin-bottom: 10px;
}
.input_text{
    margin: 0 5px;
}
}

@media (max-width:767px) {
.section{
    padding: 0;
}
.section_wrp{
    padding: 0 10px;
}
.section_text{
    padding: 0 10px 10px 10px;
}
.section_form{
    padding: 0;
    display: block;
}
.input_button{
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
}

}


