.section {
    background: url('/resources/js/components/img/watching-bg.png') center / cover no-repeat;
    padding: 180px 0;
    box-sizing: border-box;
}
.section_wrp {
    padding: 0 140px;
}
.section_text {
    padding: 40px 229px;
    flex: 1;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #FFFFFF;
}
.section_form {
    padding: 18px 210px;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px 30px;
}
.input_text {
    background: #D4C17F;
    border-color: #D4C17F;
    color: black;
}
.bottom_text {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}
.input_button {
    background: White;
    border-color: White;
    color: black;
}


@media (max-width:767px) {
    .section_wrp{
      padding: 0;
    }
    .section_text{
        padding: 0 10px;
    }
    .section_form{
        display: block;
        padding: 0 10px;
    }
    .input_button{
        width: 100%;
    }
}
 /*@media (max-width:320px) {*/
 /*    .section_wrp {*/
 /*        display: block;*/
 /*    }*/
 /*    .section {*/
 /*        padding: 50px 0 50px 5px;*/
 /*       }*/
 /*    .section_form {*/
 /*        display: block;*/
 /*        padding-right: 5px;*/
 /*    }*/
 /*    .input_button {*/
 /*        width: 100%;*/
 /*    }*/
 /*    .section_text {*/
 /*    padding-right: 10px;*/
 /*    }*/
 /*}*/


/*@media (min-width: 321px) and (max-width: 375px) {*/
/*    .section {*/
/*        padding: 0 0 150px 5px;*/

/*    }*/
/*    .section_wrp,*/
/*    .section_form {*/
/*        display: block;*/
/*        margin-right: 5px;*/
/*    }*/
/*    .section_text {*/
/*     font-size: 11px;*/
/*    }*/
/*    .watching_text,*/
/*    .watching_button {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media (min-width: 376px) and (max-width: 425px) {*/
/*}*/

/*@media (min-width: 426px) and (max-width: 768px) {*/
/*}*/

/*@media (min-width: 769px) and (max-width: 1024px) {*/
/*}*/




