.change-email-mar{
    flex: 1 1 auto;
    margin: 200px auto;
    max-width: 700px;
    color: #D4C17F;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 64px;
    text-align: center;
}

.change-email-txt{
    margin: 0 0 60px;
}

.text-accept-code{
    color: green;
    font-size: 14px;
    margin: 120px 0 20px;
}

.link-password{
    color: limegreen;
    font-size: 20px;
}

#passwordreq{
    flex: 1 1 auto;
}

