@media (max-width:320px) {
    .app {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .app-wrapper {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .header {
        max-width: 320px;
        width: 100%;
        background-position: 50% 50%;
    }

    .top {
        display: block;
        margin: 0 auto;
        padding: 19px 0 0 0;
    }

    .top-left {
        width: 100%;
    }

    .top-right {
        flex-direction: column;
        padding-left: 96px;
        padding-top: 20px;
        line-height: 25px;
    }

    .residential {
        margin-left: 76px;
        margin-top: 0;
        font-size: 11px;
        line-height: 14px;
    }

    .bottom {
        max-width: 320px;
        width: 100%;
    }

    .bottom-top {
        margin-top: -144px;
        margin-left: -12px;
        font-size: 33px;
        line-height: 33px;
    }

    .bottom-contacts {
        display: block;
        font-size: 14px;
        margin-top: 50px;
        margin-left: 53px;
    }

    .menu-flats {
        max-width: 320px;
        width: 100%;
        padding: 0 0 0 0;
        margin-top: -143px;
    }

    .flats-txt {
        text-align: center;
        font-size: 33px;
        line-height: 48px;
    }

    .flats-items {
        max-width: 320px;
        width: 100%;
        margin-top: -86px;
    }

    .flats-item {
        width: 535px;
        height: 320px;
        margin: 0 0 -100px 10px;
    }

    .flats-photo {
        width: 300px;
        height: 185px;
    }

    .flats-text {
        font-size: 20px;
        margin-top: -124px;
    }

    .watching-section {
        padding: 10px 0;
        box-sizing: border-box;
    }

    .title-2 {
        font-size: 30px;
        margin-bottom: 50px;
        text-align: center;
    }

    .watching-section_wrp {
        display: block;
    }

    .watching-section_text {
        font-size: 14px;
    }

    .watching-section_form {
        display: block;
        margin-left: 65px;
    }

    .watching-section_form p {
        margin-left: -64px;
    }

    .text {
        margin-bottom: 10px;
        margin-left: -32px;
    }

    button.section-btn {
        margin-left: 10px;
    }

    .video-block {
        height: 180px;
        max-width: 320px;
    }

    .review-block {
        display: block;
    }

    img.img-review {
        margin-left: 23px;
    }

    img.img-review2 {
        margin-left: 23px;
    }

    img.img-review3 {
        margin-left: 23px;
    }

    .review-author {
        margin-left: 122px;
        margin-top: -66px;
    }

    .map {
        line-height: 36px;
        text-align: center;
        padding-top: 7px;
    }

    .map-bottom {
        max-width: 320px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 2%;
        margin: 30px 0 0 0;
    }

    .section-input {
        margin-bottom: 10px;
    }

    .question {
        font-size: 33px;
        line-height: 48px;
    }

    .content-question {
        margin: 46px 26px 60px 48px;
    }

    .second-line {
        display: block;
    }

    .second-line-one {
        width: 320px;
        margin-bottom: 36px;
        margin-top: -48px;
    }

    .second-line-two {
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .second-line-tree {
        margin-bottom: 10px;
    }

    .text3 {
        margin-left: 0;
    }

    .footer {
        max-width: 320px;
        width: 100%;
    }

    .footer-wrapper {
        max-width: 320px;
        width: 100%;
        display: block;
    }

    .footer-center {
        margin-top: 14px;
        margin-left: 25px;
    }

    .footer-right {
        margin-top: 21px;
        margin-left: 25px;
    }

    .weather {
        margin-top: 0;
        margin-left: 74px;
        padding-bottom: 20px;
        margin-right: 80px;
    }

    .about-title {
        margin-left: 30px;
    }

    .about-text {
        margin-left: 30px;
        margin-right: 30px;

    }


}
