.client {
    margin: 15px 0;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
}

.client-name {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.client-data {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
}

a.client-name_link:hover {
    font-size: 28px;
    color: #D4C17F;
    font-family: 'Playfair Display', sans-serif;
}

a.client-data_link:hover {
    font-size: 28px;
    color: #D4C17F;
    font-family: 'Playfair Display', sans-serif;
}

