.title-2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33;
    color: #D4C17F;
}

.client{
    background-color: #242B33;
}

.client-content{
    background-color: #242B33;
}

.title-3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.33;
    color: #D4C17F;
    margin-bottom: 50px;
}
