.weather {
    margin-top: 75px;
}

.footer {
    background-color: #2D343C;
    width: auto;
    height: auto;
    display: block;
}

.footer-wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    margin-top: 60px;
}

.footer-center {
    height: 140px;
    width: 125px;
    margin-top: 72px;
    margin-left: 166px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.footer-right {
    height: 149px;
    width: 245px;
    margin-top: 72px;
    margin-left: 166px;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

