* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.app {
    background: #242B33;
}

.app-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-image: url("/storage/app/public/images/Rectangle.png");
    max-width: 1920px;
    width: 100%;
    background-position: 50% 50%;
}

.top {
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

.top-left {
    width: 164px;
    padding: 0;
    box-sizing: border-box;
}

.house {
    font-family: Post No Bills Jaffna SemiBold, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}

.residential {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    margin-top: 15px;
    height: 14px;
    width: 167px;
    text-align: center;
}

.top-right {
    display: flex;
    justify-content: space-between;
    max-width: 541px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.bottom {
    max-width: 582px;
    width: 100%;
    height: 470px;
    margin: 200px auto 0;
}

.bottom-top {
    padding-left: 15px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
}

.bottom-contacts {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 89px;
}

.fontan {
    margin-left: 18.15px;
}

.sticker {
    display: flex;
}

.phone {
    display: flex;
}

.num {
    margin-left: 15px;
}



