.menu-flats {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background: #242B33;
    padding: 120px 0 0 0;
}

.flats-position-text {
    margin: 0 auto 100px;
    max-width: 1100px;
    width: 100%;
}

.flats-txt {
    color: #D4C17F;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.flats-items {
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.flats-item {
    width: 535px;
    height: 320px;
    margin: 0 0 30px;
}

.flats-photo {
    width: 535px;
    height: 320px;
    position: absolute;
    border-radius: 10px;
}

.flats-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    top: 220px;
    left: 52px;
}

.watching-section {
    background: url('/storage/app/public/images/watching-bg.png') center / cover no-repeat;
    padding: 180px 0 ;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.title-2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: #D4C17F;
    margin-bottom: 50px;
}

.watching-section_wrp {
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.watching-section_text {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

.watching-section_form {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px 30px;
}

.section-input {
    font-family: 'Raleway', sans-serif;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    /*text-align: center;*/
    background: #D4C17F;
    border: none;
    border-radius: 10px;
    color: #BEBEBE;
    /*outline: none;*/

}

.watching-section_form p {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    text-align: center;
    color: #E7E7E7;
}

.section-btn {
    border: none;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    background: White;
    padding: 6px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.video-block {
    max-width: 1100px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
    margin: -85px 0 0 550px;
}

.reviews {
    background: #242B33;
    padding: 60px 0;
    box-sizing: border-box;
}

.review-block {
    margin-bottom: 40px;
}

.review-block:last-child {
    margin-bottom: 0;
}

.review-txt {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

.review-author {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
}

.content-map {
    background-color: #242B33;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 180px;
}

.map {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    padding-top: 40px;
}

.map-bottom {
    max-width: 1100px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
    margin: 100px 0 0 0;

}

.img-review {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 22px;
}

.img-review2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 11px;
}

.img-review3 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: -5px;
}

.review-block {
    display: flex;
}

.text {
    color: white;
    font-family: "Raleway", sans-serif;
}

hr {
    color: #cbd5e0;
    width:70%;
    margin: auto;
}

#rates {
    width: 1000px;
    margin-left: 420px;

}


