nav {
    max-width: 1920px;
    width: 100%;
    background-position: 50% 50%;
}

.top {
    display: flex;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

.top-right {

    justify-content: space-between;
    max-width: 610px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;

}

.top-right-two {
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    width: 250px;
    justify-content: space-between;
}

.reg-btn {
    margin-left: 96px;
}

#navbar {

    list-style-type: none;

    text-align: center;
    background-color: #242B33;
    font-family: 'Raleway', sans-serif;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;

}



