.register-form {
    margin-top: 20px;
    padding: 40px;
}
.register-element {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.register-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    width: 80px;
}

.register-input {
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    background: transparent;
    border: none;
    border-bottom: 2px #D4C17F solid;
    color: #BEBEBE;
    outline: none;
    width: 450px;
    margin-left: 20px;
}
.remember-txt {
    color: #D4C17F;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
    transform: translateY(2px);
}
.register-btn {
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    background: #D4C17F;
    padding: 11px 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.password-txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 20px;
    color: #FFFFFF;
    transition: .3s all;
}
.password-txt:hover {
    color: #D4C17F;
}

.reset-btn {
    margin-top: 50px;
}

.register-form-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
