.container{
    width: 75%;
    background-color: #242B33;
    border-radius: 5px;
    padding: 16px;
    margin: 16px auto;
}

.container-rev {
    width: 75%;
    background-color: #242B33;
    border-radius: 5px;
    padding: 16px;
    margin: 16px auto;
}

.container-rev img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 80px;
}

.container-rev span {
    font-size: 22px;
    margin-right: 15px;
}

@media (max-width: 1250px) {
    .container-rev {
        text-align: center;
    }

    .container-rev img {
        margin: auto;
        float: none;
        display: block;
    }
}
