* {
    margin: 0;
    padding: 0;
}

.app {
    background: #242B33;
}

.app-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-image: url("/storage/app/public/images/Rectangle.png");
    max-width: 1920px;
    width: 100%;
    background-position: 50% 50%;
}

.top {
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
}

.top-left {
    width: 134px;
    padding: 0;
    box-sizing: border-box;
}

.house {
    font-family: Post No Bills Jaffna SemiBold;
    font-size: 36px;
    font-weight: 600px;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}

.residential {
    font-family: 'Raleway';
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}

.top-right {
    display: flex;
    justify-content: space-between;
    max-width: 541px;
    width: 100%;
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

a {
    color: inherit;
    text-decoration: none;
}

.bottom {
    max-width: 582px;
    width: 100%;
    height: 470px;
    margin: 200px auto 0;
}

.bottom-top {
    padding-left: 15px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
}

.bottom-center-vector {
    margin: 100px 0 130px 0;
    padding-left: 50%;
}

.bottom-contacts {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.fontan {
    margin-left: 18.15px;
}

.sticker {
    display: flex;
}

.phone {
    display: flex;
}

.num {
    margin-left: 15px;
}

.footer {
    background-color: #2D343C;
    width: auto;
    height: auto;
    display: block;
}

.footer-wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    margin-top: 60px;
}

.footer-center {
    height: 140px;
    width: 125px;
    margin-top: 72px;
    margin-left: 166px;
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.footer-right {
    height: 149px;
    width: 245px;
    margin-top: 72px;
    margin-left: 166px;
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.content-map {
    background-color: #242B33;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 180px;

}

.map {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
    padding-top: 40px;
}

.map-bottom {
    max-width: 1100px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
    margin: 100px 0 0 0;
}

.content-question {
    margin: 100px 0 60px;
    background-color: #242B33;
}

.question {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

.second-line {
    display: flex;
}

.second-line-one {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;
    width: 255px;
    height: 28px;
}

.second-line-two {
    width: 255px;
    height: 50px;
    background-color: #D4C17F;
    margin-left: 35px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: rgb(255, 255, 255);
}

.text2 {
    color: rgb(255, 255, 255);
}

.text3 {
    margin-top: 10px;
}

.second-line-tree {
    width: 255px;
    height: 50px;
    background-color: #D4C17F;
    margin-left: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-line-four {
    width: 255px;
    height: 50px;
    background-color: #D4C17F;
    margin-left: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Секция "Хотите посмотреть" */

.watching-section {
    background: url('/storage/app/public/images/watching-bg.png') center / cover no-repeat;
    padding: 180px 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.title-2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: #D4C17F;
    margin-bottom: 50px;
}

.watching-section_wrp {
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.watching-section_text {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

.watching-section_form {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px 30px;
}

.section-input {
    font-family: 'Raleway', sans-serif;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: #BEBEBE;
    outline: none;
}

.watching-section_form p {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    text-align: center;
    color: #E7E7E7;
}

.section-btn {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    background: #D4C17F;
    padding: 11px 0;
    box-sizing: border-box;
    cursor: pointer;
}

/* Секция видео */

.video-section {
    background: #242B33;
}

.video-block {
    width: 719px;
    height: 650px;
    background: url('/storage/app/public/images/video.png') center / cover no-repeat;
    margin: 0 auto;
}

/* Секция отзывы */

.reviews {
    background: #242B33;
    padding: 60px 0;
    box-sizing: border-box;
}

.review-block {
    margin-bottom: 40px;
}

.review-block:last-child {
    margin-bottom: 0;
}

.review-txt {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

.review-author {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
}

/* //Секция Наши квартиры */


.menu-flats {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background: #242B33;
    padding: 120px 0 0 0;
}

.flats-position-text {
    margin: 0 auto 100px;
    max-width: 1100px;
    width: 100%;
}

.flats-txt {
    color: #D4C17F;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.flats-items {
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.flats-item {
    width: 535px;
    height: 320px;
    margin: 0 0 30px;
}

.flats-photo {
    width: 535px;
    height: 320px;
    position: absolute;
}

.flats-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: relative;
    top: 248px;
    left: 20px;
}



/* Адаптив */

@media(max-width:1150px) {

    .menu-flats {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        background: #242B33;
        padding: 120px 0 0 0;
    }

    .flats-txt {
        font-size: 42px;
        text-align: center;
    }

    .title-2 {
        text-align: center;
    }

    .watching-section_wrp {
        display: block;
    }

    .watching-section_text {
        text-align: center;
        margin: 0 0 50px;
    }

    .watching-section_form {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 0 2%;
        box-sizing: border-box;
    }

    .section-input {
        max-width: 335px;
        width: 100%;
    }

    .section-btn {
        max-width: 335px;
        width: 100%;
    }

    .watching-section_form p {
        max-width: 335px;
        width: 100%;
    }

    .flats-items {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
    }

    .container {
        padding: 0 2%;
        box-sizing: border-box;
    }

    .flats-item {
        width: 555px;
    }

    .second-line-one {
        max-width: 255px;
        width: 100%;
    }

    .second-line-two {
        max-width: 255px;
        width: 100%;
    }

    .second-line-tree {
        max-width: 255px;
        width: 100%;
    }

    .second-line-four {
        max-width: 255px;
        width: 100%;
    }

    .second-line {
        box-sizing: border-box;
        padding: 0 2%;
    }

}

@media (max-width:1100px) {
    .top {
        padding: 30px 2% 0;
        box-sizing: border-box;
    }

    .map {
        padding: 40px 0 0 2%;
    }
}

@media (max-width: 768px) {

    .header {
        max-width: 768px;
    }

    .top-left {
        padding-left: 50px;
    }

    .top-right {
        display: flex;
        text-align: right;
        flex-direction: column;
        max-width: 541px;
        width: 100%;
        font-family: 'Raleway';
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
    }

    .district {
        margin-left: 0px;
    }

    .catalog {
        margin-left: 0px;
    }

    .ipoteka {
        margin-left: 0px;
    }

    .contacts {
        margin-left: 0px;
    }

    .bottom {
        margin: 200px auto 0;
    }

    .bottom-top {
        font-size: 40px;
        padding: 0;
    }

    .bottom-center-vector {
        margin-top: 25px;
        padding-left: 278.2px;
    }

    .bottom-contacts {
        max-width: 800px;
        width: 100%;
    }

    .phone {
        margin-left: 8px;
    }

    .content-map {
        max-width: 768px;
        margin: 0 auto 90px;
    }

    .video-block {
        height: 500px;
        max-width: 500px;
        width: 100%;
    }

    .map {
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #D4C17F;
        margin-left: 153px;
        padding-top: 24px;
    }

    .question {
        text-align: center;
    }

    .content-question {
        margin: 100px 0 60px;
    }

    .second-line {
        flex-direction: column;
        align-items: center;

    }

    .text3 {
        margin: 0;
    }

    .second-line-one {
        margin: 0 0 40px 0;
    }

    .second-line-two {
        margin: 0;
    }

    .second-line-tree {
        margin: 40px 0;
    }

    .second-line-four {
        margin: 0;
    }

    .footer {
        max-width: 768px;
    }

    .footer-left {
        margin-left: 13px;
        margin-top: 60px;
    }

    .footer-center {
        height: 159px;
        width: 223px;
        margin-top: 72px;
        margin-left: 49px;
        font-weight: 400;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.05em;
    }

    .footer-right {
        height: 149px;
        width: 245px;
        margin-top: 72px;
        margin-left: 39px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
    }
}

@media (max-width:650px) {
    .flats-item {
        max-width: 360px;
        width: 100%;
        height: 230px;

    }

    .flats-photo {
        max-width: 360px;
        width: 100%;
        height: 230px;
    }

    .flats-text {
        top: 153px;
        left: 52px;
        font-size: 19px;
    }

    .watching-section {
        padding: 50px 0;
    }
}

@media (max-width:600px) {
    .bottom-center-vector {
        display: none;
    }

    .bottom-top {
        margin:-136px 0 86px 1px;
        font-size: 33px;
    }

    .phone {
        height: 20px;
    }

    .sticker {
        height: 20px;
        margin-left: 10px;
    }
    .bottom-contacts {
        display: flex;
        flex-direction: column;
    }

    .flats-txt {
        font-size: 38px;
        text-align: center;
    }

    .top-left {
        padding-left: 16px;
    }

}
