#about {
    margin-top: 20px;
    margin-bottom: 50px;
}

.about_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: #D4C17F;
    margin-bottom: 50px;
}

.about_text {
    color: #cbd5e0;
    font-size: 16px;
}

@media (max-width:320px) {

    .about-title {
        margin-left: 30px;
    }

    .about-text {
        margin-left: 30px;
        margin-right: 30px;
    }
}
