.about_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: #D4C17F;
    margin-bottom: 50px;
}

.about_text {
    color: #cbd5e0;
    font-size: 16px;
}

@media (max-width:320px) {
    .about_title {
        font-size: 30px;
    }

    #about {
        padding: 50px 15px 0 15px;
    }

    .img-header {
        display: none;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    #about {
        padding: 50px 15px 40px 15px;
    }

    .img-header {
        display: none;
    }


}





