.contact_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: #D4C17F;
    margin-bottom: 50px;
}

.text {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}
