.logo-footer {
    margin-top: 10px;
    }

.residential-footer {
    margin-left: -2px;
    margin-top: 1px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    height: 14px;
    width: 167px;
    text-align: center;
    }

.house-footer {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Post No Bills Jaffna SemiBold, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
    width: 100%;
    text-align: center;
    }

@media (max-width:320px) {
    .logo-footer {
        margin-left: 80px;
        margin-top: 60px;
        margin-bottom: 25px;
    }

}
