.questions-section {
    background: url('/resources/js/components/img/watching-bg.png') center / cover no-repeat;
    padding:  180px 0 180px 0;
    box-sizing: border-box;
}

.questions_title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.33;
    color: #D4C17F;
    margin-bottom: 50px;
}

.question_section_wrp {
    display: flex;
    font-family: 'Raleway', sans-serif;
}

.question_section_text {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}

.question_section_form {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px 30px;
}

.questions_text {
    background: #D4C17F;
    border-color: #D4C17F;
    color: black;
    font-family: "Raleway", sans-serif;
    }

.questions_bottom_text {
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
}

.questions_button {
    background: White;
    border-color: White;
    color: black;
}

@media (max-width:320px) {

    .questions-section {
        padding: 10px 0 10px 0;
    }

    .question_section_wrp {
        display: block;
    }

    .questions_title {
        font-size: 33px;
        margin-bottom: 10px;
    }

    .question_section_text {
        font-size: 13px;
        text-align: left;
        margin-bottom: 18px;
    }

    .question_section_form {
        display: block;
    }

    .questions_text {
        margin-top: 5px;
    }

    .questions_bottom_text {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .questions_button {
        width: 100%;
    }


}


