.img-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 815px;
    background: url('/storage/app/public/images/Rectangle.png') center / cover no-repeat;
}

.logo-header {
    font-size: 52px;
    color: #D4C17F;
    text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
}
.quote-header {
    font-size: 40px;
    color: #D4C17F;
    text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
}
.contacts-header {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    width: 30%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
.name_street {
    margin-left: 18px;
}
.sticker,
.phone {
    display: flex;
}
.num {
    margin-left: 15px;
}

@media (max-width:767px) {

}



