.menu-header {
    background: #242B33;
    border-color: #2b2b2c;
    color: #d7d7d7;
    font-family: "Raleway", sans-serif;
    margin-left: 723px;
    margin-top: -54px;
    display: flex;
}

.img-header {
    height: 815px;
    background: url('/storage/app/public/images/Rectangle.png') center / cover no-repeat;
}

.bottom {
    max-width: 582px;
    width: 100%;
    margin: 0 auto;
    padding-top: 294px;
}

.bottom-top {
    padding-left: 15px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
}

.bottom-contacts {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 89px;
}

.name_street {
    margin-left: 18px;
}

.sticker,
.phone {
    display: flex;
}

.num {
    margin-left: 15px;
}



@media (max-width:320px) {
    .logo-house {
        margin-left: -55px;
    }

    .residential {
        margin-left: 0;
    }

    .menu-header {
        margin-left: 0;
        margin-top: 0;
    }

    .bottom-top {
        margin-top: -144px;
        margin-left: -12px;
        font-size: 33px;
        line-height: 33px;
    }

    .bottom {
        max-width: 320px;
        width: 100%;
        padding-top: 420px;
    }

    .bottom-contacts {
        display: block;
        font-size: 14px;
        margin-top: 50px;
        margin-left: 42px;
    }

    .img-header {
        display: none;
    }

}

@media (min-width: 321px) and (max-width: 768px) {
    .logo-house {
        margin-left: 0;
        margin-top: 11px;
    }

    .menu-header {
        margin-left: 35px;
        margin-top: 11px;
    }
}
