.color-text{
    color: gold;
}

.mycards {
    text-align: center;
    color: #D4C17F;
    margin: 140px 0 60px 0;
    font-size: 24px;
    font-family: "Inter", sans-serif;
}

.cards-photo{
    text-align: center;
}

.cards-span{
    color: red;
}
